{% extends "base.html" %}
{% block content %}
<div class="container-fluid text-white">
<div class="px-4 py-5 my-5 text-center">
	{{ super() }}

    <h1 class="display-3 fw-bold">Hello</h1>
    <h2 class="display-8 fw-bold">I'm Stuart</h2>
    <br>
    <div class="col-lg-6 mx-auto">
	    <p class="lead mb-4">An Engineer based in East London</p> 
	    <p class="lead mb-4">This is a space I created to play around with some web development and data science technologies</p>
	    <a href="https://github.com/stuartlee165"><ion-icon name="logo-github" size="large"></ion-icon></a>
	    <a href="https://www.linkedin.com/in/stuartlee165/"><ion-icon name="logo-linkedin" size="large"></ion-icon></a>
      </div>
    </div>
  </div>
</div>

<div class="m-4">
{% endblock %}

